{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    {% if error %}
        <h4>{{ error }}</h4>
    {% endif %}

    <form class="form wide-form" action="/blog/add/" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Title" name="title" class="form-control input-wide"><br />
        <textarea rows="20" name="body" placeholder="Body" class="form-control input-wide"></textarea><br />
        <input type="checkbox" name="draft" value="melon" checked> {% trans "Draft" %}<br />
        <button class="btn btn-default">{% trans "Post" %}</button>
    </form>

{% endblock %}
