{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<form class="form" action="/email/edit/{{ email }}" method="POST">
    {% csrf_token %}
    <span class="centre" style="font-size: 13pt;"><p>{{ inbox}}@{{domain}}</p></span>
    {% if tags %}
        <input class="form-control" type="text" value="{{ tags }}" name="tags">
    {% else %}
        <input class="form-control" type="text" name="tags" placeholder="{% trans "Tag1, Tag2, etc.." %}">
    {% endif %}

    <div class="btn-centre">
        <button class="btn btn-defualt">{% trans "Save" %}</button>
        <a class="btn btn-default" href="/user/home">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %}
