{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<form class="form" action="/email/edit/{{ email }}" method="POST">
    {% csrf_token %}
    <div class="input-group">
        <span class="input-group-addon">
            {{ inbox }}
        </span>
        <a class="btn btn-attachment disabled" class="form-control">@</a>
        <span class="input-group-addon">
            {{ domain }}
        </span>
    </div>

    {% if tags %}
        <input class="form-control" type="text" value="{{ tags }}" name="tags">
    {% else %}
        <input class="form-control" type="text" name="tags" placeholder="{% trans "Tag1, Tag2, etc.." %}">
    {% endif %}

    <button class="btn">{% trans "Save" %}</button>
    <a class="btn" href="/user/home">{% trans "Cancel" %}</a>
</form>
{% endblock %}
